<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>watch</title>
      <script src="./js/vue.js"></script>
   </head>
   <body>
      <div id="app">
         <h1>Kilometer to Meter Converter</h1>

         <p>Kilometer</p>
         <input type="text" v-model="kilometer" />
         <p>Meter</p>
         <input type="text" v-model="meter" />
      </div>
      <script>
         let app = new Vue({
            el: "#app",

            data: {
               kilometer: 0,
               meter: 0
            },
            methods: {},
            computed: {},
            watch: {
               kilometer: function (val) {
                  this.kilometer = val;
                  this.meter = val * 1000;
               },
               meter: function (val) {
                  this.meter = val;
                  this.kilometer = val / 1000;
               }
            }
         });
      </script>
   </body>
</html>
